@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");

@font-face {
  font-family: NewYork;
  src: url(fonts/NewYork\ PERSONAL\ USE.otf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/*Navigation and Headline*/
#headline {
  font-family: "NewYork";
}

#navigationList {
  display: flex;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navElement {
  margin-top: 15px;
  font-size: 18px;
  font-family: "NewYork";
  flex-wrap: wrap;
}

.navElementSpace {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 15px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
  /*color: rgb(248, 170, 107);*/
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  /*text-shadow: 3px 2px #466e94;*/
}

/*Contact Form*/

input[type="text"] {
  padding: 10px;
  border-radius: 100px;
  margin: 10px 0px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input[type="email"] {
  padding: 10px;
  border-radius: 100px;
  margin: 10px 0px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input[type="submit"] {
  padding: 10px;
  border-radius: 100px;
  margin: 10px 0px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}

input[type="submit"]:hover {
  padding: 10px;
  border-radius: 100px;
  margin: 10px 0px;
  border: 0;
  /*box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);*/
  background-color: #8ca890;
  color: #fff;
}

textarea {
  padding: 15px;
  border-radius: 30px;
  margin: 10px 0px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
